:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;

  --borderColor: #164d56;

  --mainText: #fff;
  --secondaryText: #eeeeee;

  --themeDotBorder: #fff;

  --previewBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #111921;

  --submitBtn: #17a2b8;
}

#light-mode {
  background-color: #fff;
  border-width: 0;
}
#blue-mode {
  background-color: #192734;
  border-width: 5px;
}
#green-mode {
  background-color: #78866b;
  border-width: 0;
}
#purple-mode {
  background-color: #7e4c74;
  border-width: 0;
}
#orange-mode {
  background-color: #dfa842;
  border-width: 0;
}
