:root {
  --mainColor: #e2b992;
  --secondaryColor: #e6c3a3;

  --borderColor: #fdd0a5;

  --mainText: beige;
  --secondaryText: #4b5156;

  --themeDotBorder: #fff;

  --previewBg: rgb(251, 249, 243, 0.6);
  --previewShadow: #dfa977;

  --submitBtn: #e2b992;
}

#light-mode {
  background-color: #fff;
  border-width: 0;
}
#blue-mode {
  background-color: #192734;
  border-width: 0;
}
#green-mode {
  background-color: #78866b;
  border-width: 0;
}
#purple-mode {
  background-color: #7e4c74;
  border-width: 0;
}
#orange-mode {
  background-color: #dfa842;
  border-width: 5px;
}
